<header class="header bgc-theme-color">
  <div class="container nav">
    <a href="#" class="nav-logo"
      ><img
        src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true"
        alt=""
    /></a>
    <ul class="nav-list">
      <li><a href="#">系列鏡框</a></li>
      <li><a href="#">門市據點</a></li>
      <li><a href="#">部落格</a></li>
      <li><a href="#" class="pd-r">常見問題</a></li>
    </ul>
  </div>
</header>
